# 1. 데이터 파일 무시 (용량 큼 & 보안 중요)
*.csv
*.xlsx
*.xls

# 2. 학습된 모델 파일 무시 (용량 큼)
*.pkl
*.h5
*.pt

# 3. 이미지 파일 (결과물은 로컬에만 보관하려면 추가, 공유하려면 제외)
*.png
*.jpg

# 4. 파이썬 시스템 파일 (불필요)
__pycache__/
*.pyc

# 5. 가상환경 및 설정 파일
venv/
env/
.env
.ipynb_checkpoints/

# 6. 맥(Mac) 시스템 파일
.DS_Store
.streamlit/secrets.toml